.content-confirm {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.content-check {
    width: 40%;
    height: 100%;
    border: 1px solid black;
    padding: 20px 20px;
}
.content-check > p {
    margin: 0px 0px;
}

.confirm-dis {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.check-confirm {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


/* thankyou */
.service-content {
    background-color: #333;
    padding: 40px;
}

.fixcolor {
    color: white;
    margin-bottom: 10px;
}